
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
.head {
    margin: 0;
    font-size: 36px;
  }

  #f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #l1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #result{
    
        background-color: #fff;
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
      
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }
  
  .img {
    width: 30%;
    height: auto;
  }

  #csv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the height of the container */
  }
  #csvimg{
    max-width: 100%; /* Ensure the image does not exceed the width of the container */
    max-height: 100%;
  }
  #raw{
    margin-left: 10%;
    font-weight: bold;
    text-decoration: underline;
  }
  #pro{
    margin-left: 30%;
    font-weight: bold;
    text-decoration: underline;
  }
  #remarks{
    margin-left: 30%;
    font-weight: bold;
    text-decoration: underline;
  }
  footer{
  background-color: #333;
  color: #fff;
  padding: 20px;
  }
  
  